<div>
{#    {{ dump(breadcrumb) }}#}
    <nav class="arianeNav">
        <ul >
            <li ><a href="{{ path('app_home') }}">Accueil</a></li>
            {% for data in dataBreadcrumb %}
                <li><i class="fa-solid fa-caret-right"></i><a  href="{{ path(data.path, { slug: data.slug }) }}">{{ data.nom }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>