<header>
        <div class="headerTop">
                <div class="headerTop_left">
                        <div class="burgerMenu">
                                <span></span>
                        </div>
                        <div class="logoHeader">
                                <a class="" href="{{ path('app_home') }}">E-COM</a>
                        </div>
                    {% include('common/menu/navMobile.html.twig') %}

                </div>
            {% include('common/menu/navDesktop.html.twig') %}
                <div class="headerTop_right">
                        <div class="headerTop_right_profil">
                                <i class="fa-solid fa-user"></i>
                                <span>Mon compte</span>

                        </div>
                        <div class="profilMenuDesktop">
                                <ul>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                <a href=""><li>Mon compte</li></a>
                                                <hr>
                                                <a href=""><li>Déconnexion</li></a>
                                        {% else %}
                                                <a href=""><li>Connexion</li></a>
                                                <hr>
                                                <a href=""><li>Inscription</li></a>
                                        {% endif %}
                                </ul>
                        </div>


                        <div class="headerTop_right_cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Mon panier</span>
                        </div>

                        <div class="headerDivSearch">
                                <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="headerSearchOverlay">
                                <div class="divCloseHeaderSearch"><i class="fa-solid fa-xmark"></i></div>
                                <p>Rechercher un produit</p>
                                <form action="" method="GET">
                                        <div class="divInputHeaderSearch">
                                                <input type="text" required name="produit" id="" class="inputHeaderSearch" placeholder="Votre recherche...">
                                                <span class="searchDeleteInputMobile"><i class="fa-solid fa-delete-left"></i></span>
                                        </div>
                                        <div class="divButtonSearchOverlay">
                                                <button type="submit">Rechercher</button>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
        <div class="profilMenuMobile">
                <div class="divCloseprofilMenu"><i class="fa-solid fa-xmark"></i></div>
                <ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="">Mon compte</a></li>
                                <hr>
                                <li><a href="">Déconnexion</a></li>
                        {% else %}
                                <li><a href="">Connexion</a></li>
                                <hr>
                                <li><a href="">Inscription</a></li>
                        {% endif %}
                </ul>
        </div>
</header>